.dep a{
	font-size: 14px;
}
#k-footer{
	padding: 0px;
}
.grey-col{
	background:rgba(0,0,0,0.002);
}
.lgrey-col{
	background:rgba(0,0,0,0.02);
}
p , table
{
	color:black;
}
.navbar-fixed-top
{
	box-shadow: 1px 5px 5px 0px;
}